<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!--[if lt IE 9]>
       <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
    <title>Panou administrator</title>
</head>

<body>
    <div class="container-fluid" id="app">
        <div class="row">
            <div class="col col-sm-2 sidebar">
                <img src="/images/brand.jpg" class="img-responsive" />
                <div class="sidebar-item" v-on:click="onRegisterRequests" v-bind:class="{ 'sidebar-item-active': currentView == viewIndex.registerRequest}">
                    {{viewInfo[viewIndex.registerRequest].title}}
                </div>
                <div class="sidebar-item" v-on:click="onInstructors" v-bind:class="{ 'sidebar-item-active': currentView == viewIndex.instructor}">
                    {{viewInfo[viewIndex.instructor].title}}
                </div>
                <div class="sidebar-item" v-on:click="onStudents" v-bind:class="{ 'sidebar-item-active': currentView == viewIndex.student}">
                    {{viewInfo[viewIndex.student].title}}
                </div>
                <div class="sidebar-item" v-on:click="onAdmins" v-bind:class="{ 'sidebar-item-active': currentView == viewIndex.admin}">
                    {{viewInfo[viewIndex.admin].title}}
                </div>
            </div>
            <div class="col col-sm-2"></div>
            <div class="col col-sm-10 sidepage">
                <button class="btn btn-success create-btn" v-bind:disabled="!viewInfo[currentView].canCreate" v-on:click="onCreate">
                    <i class="fa fa-plus"></i>
                    Adauga
                </button>

                <div v-if="!createFormEnabled">

                    <div>
                        <div v-for="(item, index) in data" class="list-item aligner" v-bind:class="{ 'selected-row' : index == selectedRowIndex }">
                            <div class="list-item-info">
                                <div v-for="(prop, itemIndex) in item" v-on:click="selectRow(index)">
                                    <div v-if="itemIndex == 0" class="list-item-name">
                                        {{prop}}
                                    </div>
                                    <div v-else class="list-item-description">
                                        {{ viewInfo[currentView].descriptors[itemIndex - 1].text }} : {{prop}}
                                    </div>
                                </div>
                            </div>
                            <div class="list-item-actions">
                                <div class="list-item-actions-center">
                                    <button v-if="viewInfo[currentView].canAccept" class="btn btn-success" v-on:click="onCreate">
                                        <i class="fa fa-check"></i>
                                        Accepta
                                    </button>
                                    <button v-if="viewInfo[currentView].canEdit" class="btn btn-primary" v-on:click="onEdit">
                                        <i class="fa fa-edit"></i>
                                        Editeaza
                                    </button>
                                    <button v-if="viewInfo[currentView].canDelete" class="btn btn-danger" v-on:click="onDelete">
                                        <i class="fa fa-trash"></i>
                                        Sterge
                                    </button>
                                    <button v-if="viewInfo[currentView].canArchive" class="btn btn-warning" v-on:click="onArchive">
                                        <i class="fa fa-archive"></i>
                                        Arhiveaza
                                    </button>
                                </div>
                            </div>
                            <div class="clear">
                                <!-- clear -->
                            </div>
                        </div>
                    </div>

                </div>
                <div v-if="createFormEnabled">
                    <div v-if="currentView === viewIndex.instructor">
                        <instructor-form></instructor-form>
                    </div>
                    <div v-else-if="currentView === viewIndex.admin">
                        form admin
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascripts/admin.js"></script>
</body>

</html>