html, body {
    height: 100%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: white;
}

.container-fluid {
    min-height: 100%;
    overflow: hidden;
}

.sidebar {
    height: 100%;
    position: fixed;
    border-right: 1px solid gray;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30%;
}

.sidebar-item {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    border-right: 4px solid white;
    margin: 20px auto;
}

.sidebar-item:hover {
    color: rgb(196, 102, 73);
    cursor: pointer;
    border-right-color: rgb(196, 102, 73);
}

.sidebar-item-active, .sidebar-item-active:hover {
    color: red;
    cursor: pointer;
    border-right-color: red;
}

.sidepage {
    padding: 20px 40px 0 40px;
    height: 100%;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}

.create-btn {
    width: 200px;
    height: 60px;
    font-size: 24px;
    margin-bottom: 20px;
}

.btn {
    margin-right: 5px;
    display: inline-block;
}

.create-form {
    width: 70%;
    margin: 0 auto;
}

.list-item {
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
}

.list-item-info {
    width: 50%;
}

.list-item-name {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

.list-item-actions {
    width: 50%;
    text-align: right;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
