body {
  position: relative;
  background-color: black;
}

#home {
  padding: 10px 1px 10px 0px;
  height: 900px;
}

#personal {
  padding-top: 50px;
  height: 1000px;
}

#location {
  padding-top: 50px;
  height: 1000px;
}

#contact {
  padding-top: 50px;
  height: 800px;
}

#home, #personal, #location, #contact {
  color: white;
  background-color: rgba(187, 187, 187, 0.877);
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color:  rgba(77, 133, 185, 0.911);
  border-bottom: 1px gray solid;
  color: white;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
  font-weight: 650;
  border-bottom: 2px solid transparent;
  margin: 0px 10px;
  background-color: black;
}

.navbar-inverse:hover .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color:  rgba(77, 133, 185, 0.911);
  background-color: black;
  border-bottom: 2px solid  rgba(77, 133, 185, 0.911);
}

.schoolImg {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 800px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top center;
  background-attachment: fixed;
  z-index: 1;
}

#img1 {
  background-image: url('/images/scoala.jpg');
}

#navCol {
  background-color: black;
  border-bottom: 1px gray solid;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 10%;
  border-radius: 5 px;
  background-color: white;
}

table td, table th {
  margin-left: 0;
  padding: 8 px;
}

table tr:nth-child(even) {
  background-color: rgba(77, 133, 185, 0.911);
}

table tr:nth-child(odd) {
  background-color: black;
  color: white;
}
table tr:nth-child(odd):hover{
  color: black;
}
table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}


footer {
  margin-top: 5%;
  background-color: black;
  color: #f5f5f5;
  padding: 10px;
}

footer a {
  color: #f5f5f5;
}

footer a:hover {
  color: #777;
  text-decoration: none;
}

#userSvg {
  position: absolute;
  left: 15%;
  height: 15%;
  width: 15%;
}

.index-form {
  width: 90%;
  padding-top: 20%;
  padding-left: 5%
}

.bla {
  background-color: black;
  border-radius: 5px;
  color: black;
  margin-top: 5%;
}

#registerBtn {
  border: 1px solid  rgba(77, 133, 185, 0.911);
  background-color:  rgba(77, 133, 185, 0.911);
  color: azure;
  border-radius: 5px;
}

#registerBtn:hover {
  background-color:  rgba(49, 104, 155, 0.911);
}

#submitBtn {
  border: 1px solid rgb(66, 66, 255);
  background-color: rgb(66, 66, 255);
  color: azure;
  border-radius: 5px;
}

#submitBtn:hover {
  background-color: rgb(32, 32, 129);
}

span {
  margin-right: 2px;
}

.inner-addon {
  position: relative;
}

/* style icon */

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
}

i {
  cursor: arrow;
}

/* align icon */

.left-addon .glyphicon, #lockClick .glyphicon {
  left: 0px;
}

.right-addon .glyphicon, #eyeClick {
  right: 0px;
}

/* add padding  */

.left-addon input, .left input {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 30px;
}

.forgotPass {
  color: red;
}

.form-inline {
  margin-bottom: 2%;
}

.registerForm {
  margin-top: 4%;
  text-align: center;
}

.title {
  margin-top: 10%;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: white;
}

.registerForm .form-group {
  margin-left: 2%;
}

.row {
  margin-top: 2%;
}

#register {
  margin-top: 10px;
  background-color:  rgba(77, 133, 185, 0.911);
  padding-right: 15%;
  padding-left: 15%;
  align-self: center;
  color:white;
}

#passForgot {
  margin-bottom: 20%;
}
.resetMargin{
  margin-top:0;
}
label{
  color: white;
}
#radio{
  color: white;
}

